@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    min-height: 98vh;
    background-color: lightblue;
    font-family: sans-serif;
    text-transform: capitalize;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    font-size: large;
}

#alert {
    position: absolute;
    width: fit-content;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: large;
    transition: all ease-in-out 1s;
    padding: 0.2rem 1.2rem;
    border-radius: 11px;
    bottom: 10%;
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0;
    z-index: 2;
}
.contant {
    margin-top: 10vh;
    margin: 1rem;
}
#fact-text {
    position: relative;
    min-height: 30vh;
    width: 100%;
}
.icons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 0.5rem 0.5rem 0;
}
.icons > img {
    margin-right: 0.5rem;
}
.icons img {
    margin-left: 0;
}

#saved-facts {
    padding: 1rem;
}
#saved-facts-list {
    max-height: 46vh;
    overflow: auto;
}
#saved-facts-list::-webkit-scrollbar {
    display: none;
}
ul li {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
ul li #text {
    width: 80%;
}
.close {
    width: 1rem;
}
.whatsapp{
    margin-right: 0.4rem;
    width: 1rem;
}
.delete {
    margin-right: 0;
}
#btns {
    display: flex !important;
    align-items: center !important;
}




/* From uiverse.io by @xueyuantan */
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0.5rem 1rem;
}
