body {
    min-height: 98vh;
    background-color: lightblue;
    font-family: sans-serif;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

/* From uiverse.io by @xueyuantan */
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0.5rem 1rem;
}
